<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item nav-item-logo is-tab is-hidden-mobile" routerLink="/" routerLinkActive="is-active">
        <span class="icon">
          <i class="fa fa-fire"></i>
        </span>
        <span>GotPop Members</span>
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
    <span></span>
    <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a href="https://github.com/gotpop/gp-user" class="nav-item nav-item-github is-tab">
        <div>View project on GitHub</div>
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
    </div>
  </div>
</nav>
<nav class="breadcrumb is-centered">
    <ul>
      <li><a class="nav-item is-tab is-hidden-mobile" routerLink="/step1" routerLinkActive="is-active">Step 1</a></li>
      <li><a class="nav-item is-tab is-hidden-mobile" routerLink="/step2" routerLinkActive="is-active">Step 2</a></li>
      <li><a class="nav-item is-tab is-hidden-mobile" routerLink="/step3" routerLinkActive="is-active">Step 3</a></li>
      <li><a class="nav-item is-tab is-hidden-mobile" routerLink="/summary" routerLinkActive="is-active">Summary</a></li>
    </ul>
</nav>
