<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>GotPop</strong> by <a href="http://www.gotpop.net/">GotPop</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/gotpop/gp-user">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
