<nav class="breadcrumb is-centered">
    <ul>
      <li ><a class="nav-item is-tab is-hidden-mobile" routerLink="/step1" routerLinkActive="is-active">Step 1</a></li>
      <li><a class="nav-item is-tab is-hidden-mobile" routerLink="/step2" routerLinkActive="is-active">Step 2</a></li>
      <li><a class="nav-item is-tab is-hidden-mobile" routerLink="/step3" routerLinkActive="is-active">Step 3</a></li>
      <li><a class="nav-item is-tab is-hidden-mobile" routerLink="/summary" routerLinkActive="is-active">Summary</a></li>
    </ul>
</nav>
<h1 class="title">{{page.step1}}</h1>
