<section class="main main-content section">
  <div class="container">

    <div class="columns">
      <div class="column">
          <div class="notification is-success">
            <button class="delete"></button> Form data has been to submitted to the server via an Express endpoint, and then returned to the summary page in the table below.
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column">
        <table class="table is-striped is-bordered">
          <thead>
            <th>Name</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{serverStore.name}}</td>
            </tr>
            <tr>
              <td>Surname</td>
              <td>{{serverStore.address1}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{serverStore.address2}}</td>
            </tr>
            <tr>
              <td>Address1</td>
              <td>{{serverStore.phone}}</td>
            </tr>
            <tr>
              <td>Address1</td>
              <td>{{serverStore.pref1}}</td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td>{{serverStore.pref2}}</td>
            </tr>
            <tr>
              <td>List</td>
              <td>{{serverStore.pref3}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
