<section class="section">
   <div class="container">
     <h1 class="title">Section</h1>
     <p>
       step3 works!
     </p>
     <h2 class="subtitle">
       A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
     </h2>
   </div>
 </section>

 <section class="section">
   <div class="container">
     <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

       <div class="field">
         <label for="pref1">Pref 1</label>
         <input type="text" class="input" id="pref1" required [(ngModel)]="model.pref1" name="pref1">
       </div>

       <div class="field">
         <label for="pref2">Pref 2</label>
         <input type="text" class="input" id="pref2" [(ngModel)]="model.pref2" name="pref2">
       </div>

       <div class="field">
         <label for="pref3">Pref 3</label>
         <input type="number" class="input" id="pref3" [(ngModel)]="model.pref3" name="pref3">
       </div>

       <button type="submit" class="button is-success">Submit</button>

     </form>
   </div>
 </section>

 <section class="section">
   <div class="container">
       <div>{{diagnostic}}</div>
   </div>
 </section>
