<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        A multi step Angular 4 demo that takes a users details and posts to an Express endpoint.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <a class="button is-success is-large" routerLink="/step1">
      <span>Join</span>
      <span class="icon">
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>
  </div>
</section>
